<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
  <header>
    <nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" th:text="#{menu.dashboard}">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false" th:text="#{menu.admin}">
                Admin
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item active"
                   href="#" th:href="${#mvc.url('AAC#list').build()}"
                   th:text="#{menu.admin.attributes}">Metadata attributes</a>
                <a class="dropdown-item"
                   href="#" th:href="${#mvc.url('DTAC#list').build()}"
                   th:text="#{menu.admin.doctypes}">Document types</a>
                <a class="dropdown-item"
                   href="#" th:href="${#mvc.url('FAAC#list').build()}"
                   th:text="#{menu.admin.funding.awards}">Funding awards</a>
              </div>
            </li>
          </ul>
        </div>
      
        <div class="navbar-brand ml-auto h1">
          <img th:src="@{/images/favicon.png}" width="40" height="40" class="d-inline-block align-middle" alt="">
          <span class="align-middle" th:text="#{brand.name}">PeerPub</span>
        </div>
      </div>
    </nav>
  </header>
  <main class="container">
    Content goes here...
  </main>
  <footer>Footer goes here...</footer>
</body>
</html>